<import from="/styles/title.css"></import>
<div>
  <span class="title">
    <span>Hexa + </span>
    <span class="flowContainer">
      <span class="flower">
        <component
          x-asset-id="flowItem"
          x-const-props='{"name":"HTML","color":"#f1652a"}'
        ></component>
        <component
          x-asset-id="flowItem"
          x-const-props='{"name":"Typescript","color":"#2f74c0"}'
        ></component>
        <component
          x-asset-id="flowItem"
          x-const-props='{"name":"Vite","color":"#9666fd"}'
        ></component>
        <component
          x-asset-id="flowItem"
          x-const-props='{"name":"HTML","color":"#f1652a"}'
        ></component>
      </span>
    </span>
  </span>
</div>

<wa></wa>
